[all]
miarec ansible_connection=local private_ip_address=127.0.0.1

[all:vars]
prometheus_write_target = "https://prometheus.example.com"
promtail_loki_url = "https://loki.example.com"

prometheus_external_labels = {"host": "{{ hostvars[inventory_hostname].inventory_hostname}}", "static_label": "This is a static label"}
promtail_external_labels = {{ prometheus_external_labels }}

client_auth_user = EXAMPLE_USER
client_auth_password = EXAMPLE_PASSWORD

[recorder]
miarec

[screen]
miarec

[db]
miarec

[redis]
miarec

[web]
miarec

[celery]
miarec

[celerybeat]
miarec

